.adminheader-container, .userheader-container{
  Display: flex;
  flex-direction:row;
  align-items: center;
}

.adminheader {
  margin-left: 100px;
  display: inline-block;
}

.adminheader h4 {
  color: #ab1403;
  font-family: euclid-bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.adminheader h2 {
    margin-top: 0;
    font-family: euclid-bold;
    font-size: 36px;
  }

.userheader h4 {
    color: #03Ab03;
    font-family: euclid-bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .userheader h2 {
    margin-top: 0;
    font-family: euclid-bold;
    font-size: 36px;
  }


.navbar {
    margin-right: 100px;
    margin-top: 0;
    text-align: right;
    width: 100%;
    font-size: 18px;
  }
  
  .navbar span {
    text-align:center;
  }
  
  .navbar button {
    height: 60px;
    background: none;
    border: none;
  }
  
  .navbar button:hover {
    padding: 10px 10px;
    background-color: none;
  }

  