@font-face {
  font-family: euclid;
  src: url(../assets/EuclidSquare-Regular.ttf);
}

@font-face {
  font-family: euclid-semibold;
  src: url(../assets/EuclidSquare-SemiBold.ttf);
}

@font-face {
  font-family: euclid-bold;
  src: url(../assets/EuclidSquare-Bold.ttf);
}

body {
  font-family: euclid;
  background-color: #e4e4e7;
}

.app-container {
  display: grid;
  grid-template-rows: 15vh 70vh 5vh;
  grid-column-gap: 10px;
}

.header-img {
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.header button {
  background: none;
  border: none;
}

.footer {
  background-color: black;
  color: white;
  font-size: 12px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid rgb(48, 48, 48);
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  width: 400px;
  font-size: 24px;
}

input[type="text"],
input[type="password"],
input[type="email"]:focus {
  outline: none;
}

::placeholder {
  font-size: 24px;
  color: #a1a1aa;
}

.bookoverview-searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin-left: 100px;
  font-family: euclid-semibold;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.table-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #03ab03;
}

.icon.red {
  font-size: 20px;
  color: #ab1403;
}

.iconclickable {
  font-size: 20px;
  color: #52525B;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.iconclickable:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.request-button {
  background-color: #03ab03;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.request-button:hover {
  background-color: #00e600;
}

/* 
.logout-button {
  background-color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.logout-button:hover{
  background-color: #E4E4E7;
  color:#52525B;
} */
