
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid rgb(48, 48, 48);
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  width: 400px;
  font-size: 24px;
}

input[type="text"],
input[type="password"],
input[type="email"]:focus {
  outline: none;
}

.login-header,
.inventaris-header {
  margin-left: 100px;
}

.login-header h4,
.inventaris-header h4 {
  color: #03Ab03;
  font-family: euclid-bold;
  font-size: 20px;
  margin-bottom: 10px;
}


.login-header h2,
.inventaris-header h2 {
  margin-top: 0;
  font-family: euclid-bold;
  font-size: 36px;
}


.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.login-button {
  background-color: black;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 30px;
  color: white;
  text-align: center;
}


.login-button:hover {
  background-color: #52525b;
  color: #E4E4E7;
}

.login-button a:visited,
.login-button a:link {
  color: white;
  text-decoration: none;
}
