.adminheader-container {
  margin: 5vw;
  margin-top: 0;
}

.adminheader h4 {
  color: #ab1403;
  font-family: euclid-bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.adminheader h2 {
  margin-top: 0;
  font-family: euclid-bold;
  font-size: 36px;
}
